{% extends 'base.html.twig' %}

{% block title %}Hello KlantController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Klant</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/klant">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/rijles">Rijles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/mededeling">Mededelingen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/profiel">Profiel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Datum</th>
                <th scope="col">Tijd</th>
                <th scope="col">Ophaal Locatie</th>
                <th scope="col">Lesdoel</th>
                <th scope="col">Annuleren</th>
                <th scope="col">Annuleer reden</th>
                <th scope="col">Opmerkingen Instructeur</th>
                <th scope="col">Opmerkingen Leerling</th>
            </tr>
            </thead>
            <tbody>
            {% for rijles in rijlessen %}
                <tr>
                    <td>{{ rijles.datum | date("d/m/Y") }}</td>
                    <td>{{ rijles.tijd | date("H:i") }}</td>
                    <td>{{ rijles.ophaallocatie }}</td>
                    <td>{{ rijles.lesdoel }}</td>
                    <td>{{ rijles.annuleren }}</td>
                    <td>{{ rijles.annuleerReden }}</td>
                    <td>{{ rijles.opmerkingenInstructeur }}</td>
                    <td>{{ rijles.opmerkingenLeerling }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    </div>
{% endblock %}
